body {
    margin: 0;
    background-color: #0443AF;
    font-family: 'Montserrat', sans-serif;
}


.container{
    margin: 0 auto;
    width: 80%;
}

img{
    height: 50px;
    width: 50px;
}

h1, h2 {
    /* margin-top: 100px; */
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
}

.logo_button{
    display: inline-block;
    border: 1px solid;
    padding: 10px 100px;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 900;
}

header{
    margin: auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content{
    color: white;
    font-size: 16px;
    padding: 100px 0px;
}

.task_list{
    column-count: 4;
    column-gap: 30px;

}

.task{
    display: inline-block;
    margin: 0px 0px 30px 0px;
    border: 2px solid white;
    border-radius: 25px;
    width: 100%;

}

.task p, .wrapper_heading{
    padding: 20px 25px;
}

.wrapper_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.delete_img{
    height: 30px;
    width: 30px;
}

.heading{
    font-size: 24px;
    font-weight: 900;
    color: white;
    
}

.details{
    font-size: 16px;
}



  
@media only screen and (max-width: 1368px) {
    .task_list {
        column-count: 3;
    }
}
  

@media only screen and (max-width: 950px) {
    .task_list {
        column-count: 2;
    }
}