{% extends 'todoapp/base.html' %}

{% block content %}

{% if tasks %}
    <div class="task_list">
        {% for task in tasks %}
        <div class="task">
            <p class="heading">{{task.title}}</p>
            <p class="details">{{task.text}}</p>
            <p class="time">{{task.time_stamp}}</p>
        </div>
         
        {% endfor %}
    </div>
    {% endif %}

    {% if form %}
        <form action="{% url 'add_task' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Add</button>
        </form>
    {% endif %}

{% endblock %}