{% extends 'todoapp/base.html' %}

{% block content %}

{% load static %}

{% if tasks %}
    <div class="task_list">
        {% for task in tasks %}
        <div class="task">
            <div class="wrapper_heading">
                <a href="/{{task.pk}}" class="heading">{{task.title}}</a>
                <a href="/{{task.pk}}/delete">
                    <img src="{% static 'todoapp/images/delete.svg' %}" class="delete_img">
                </a>
            </div>
            <p class="details">{{task.text}}</p>
            <p class="time">{{task.time_stamp}}</p>
        </div>
         
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}